@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all.2s ease;
    text-transform: capitalize;
    border: none;
    outline: none;
}
html {
    overflow-x: hidden;
}
.container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    position: relative;
}

.box-1 {
    width: 25%;
    background-color: #2E8B57;
    clip-path: polygon(0 100%, 100% 35%, 0 0);
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
}

.box-2 {
    width: 25%;
    background-color: #2E8B57;
    clip-path: polygon(0 35%, 100% 100%, 100% 0);
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
}
.content {
    width: 80%;
    text-align: center;
    padding: 6.5rem 3rem;
}

.content header {
    border-bottom: .1rem solid #000;
    padding-bottom: 2.4rem;
}
.content form {
    width: 100%;

}
form h3 {
    letter-spacing: 3px;
    font-weight: 500;

}
form .resend {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
}
form .resend p {
    font-weight: 600;
    letter-spacing: 1.5px;
}


.content form .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.content form .flex h3 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.content form .flex {
    margin-top: 1.5rem;
}


.content form .flex input {
    padding: .8rem 2rem;
    background-color: #eee;
    font-size: 1rem;
    border: .1rem solid rgba(0,0,0,.3);
    color: #333;
    border-radius: .5rem;
    margin: .3rem 0;
    text-align: center;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    width: 50%;
}


.content header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.content .sub {
    font-size: 1rem;
    padding: 1rem 0;
    letter-spacing: .5rem;
    color: #333;
    text-align: center;

}

.content form {
    padding-top: 5rem;
}

.content form .confirm {
    text-align: right;
    padding-right: 7rem;
    margin: .7rem 0;
}
.content form .confirm input {
    accent-color: #2E8B57;;
}
.content form .button-container {
    display: flex;
    justify-content: flex-end;
}
.content form .button-container .btn {
    padding: 1rem 4rem;
    background-color: #2E8B57;
    color: #fff;
    display: inline-block;
    border-radius: .5rem;
    text-decoration: none;
    margin-top: .3rem;
    letter-spacing: 2px;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);

}


footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E8B57;;
}
footer h3 {
    color: #fff;
    letter-spacing: 4px;
    font-weight: 500;
}